body{
  background:#e6ebe9;
}
h1{
  float:left;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 5px;
  font : 24px Caecilia lt bold; color:#0297C9;
  padding: 5px 5px 5px 5px;
  display: inline-block;
}

h2{
  margin-bottom: 2px;
  padding-bottom: 5px;
  font : 16px Caecilia lt; color:#7A7A7A;
  padding: 5px 10px 10px 0px;
  display: inline-block;

}

h3 {
    -webkit-margin-after: 0.2em;
}





div.tooltip {
    position:absolute;
    width: auto;
    height: auto;
    max-width: 250px;
    margin-top: -1.25em;
    padding: 0.75em 1em;
    font-family: 'Oswald', sans-serif;
    /*white-space: nowrap;*/
    font-size: 20px;
    font-size: 1.33rem;
    font-weight: 300;
    line-height: 1.2;
    color: #04629a;

    background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    transform: translate(-50%,-75%);
}

div.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

#world {
  /**stroke: #deeaf1;**/
  stroke-width: 0px;
 fill: #c0c7c9;
 stroke:#c0c7c9;
  opacity: 1;
}



#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.caption{
  font : 12px Arial; color:#575757;
}
.background {
  fill: #deeaf1;
  pointer-events: all;
}

#modedemploi{
      position:absolute;
      top:2.5%;
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto;
      max-width:200px;
      
      padding:0.5rem;
      background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      /*pointer-events: none;*/  

      margin-left: 1.2em;
      font-family: 'Oswald', sans-serif;
      font-size: 1.75rem;
      font-weight: 700;
      color: #04629a;
}

#countryCard{
      position:absolute;
      top:5%;
      left: 0; 
     right: 0; 
      margin-left: auto; 
      margin-right: auto;
      width:95%;
      height:90%;
      max-width: 1140px;
      max-height:1000px;
      overflow: scroll;
      /*padding:2rem;*/
      background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      /*pointer-events: none;*/
      display:none;    
}

#trackersLink{
      position:absolute;
 
      display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.33); /* Black background with opacity */
  z-index:3; /* Specify a stack order in case you're using a different order for other elements */
  /*cursor: pointer;*/ /* Add a pointer on hover */
  padding:10%;
  
  /*top:20%;
      left: 0; 
     right: 0; 
      margin-left: auto; 
      margin-right: auto;
      width:95%;
      max-width: 1140px;
      max-height:500px;
      overflow: scroll;
      background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      /*pointer-events: none;*/
      display:none;    
}
#shutterholder,#shutterholdertracker{
  padding:2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width:100%;
  border-bottom: 0.5px  solid #04629a;
  z-index:3;

}
#shutter,#shuttertracker{
  float:right;  
  width:20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  /*flex-wrap: nowrap;
  background-color: DodgerBlue;*/
}

.flex-container > div {
  width: 50%;
  margin: 10px;
  text-align: left;
}

#morebtn{
    text-align: right;
    vertical-align: sub;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight:600;
    line-height: 1;
    color: #0b1e2d;
}

.toTrackers{
    display: inline-block;
    padding: 18px 25px 15px 25px;
    font-family: "Noto Sans Display",sans-serif;
    font-size: 15px;
    /*font-size: 0.75rem;*/
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: #548235;
    /*border: 1px solid #0b1e2d;*/
    border-radius: 25px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}


.toTrackers:hover{
  /*-ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-bottom: none;*/
text-decoration: underline;
    background: #0b1e2d;
}

/*.toTrackers{
    float:right;
    margin-right:7.5%;
    text-decoration: none;
    background: #04629a;
    color: rgb(255, 255, 255);
    width: 61px;
    font-size: 15px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: inset 0px 2px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border-bottom: solid 1px #549fa9;
    text-shadow: 0.1px 0.1px 0.1px rgba(255, 255, 255, 0.65);
    transition: .4s;
    cursor: pointer;
}*/

/*.toTrackers:active{
  -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-bottom: none;
}*/
#trackersText{
    margin-top:0.75em;
    margin-left: 2em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #0b1e2d;
}
   
#countrySel{
    padding-top: 10px;
    margin-left: 1.2em;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #04629a;
}

#betaTag{

    margin-left: 2.0em;
    margin-bottom:10px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    color: #04629a;
}

#containment_Text,#supportText,#supportViz {

  padding:2rem;
    margin-top: 10px;
    margin-left: 2em;
}

.SectionTitle{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #0b1e2d;
    position: relative;
    bottom: -1rem;
    background: #fff;
    padding-right: 10px;
    z-index:2;

}
.border{

    border-bottom: 0.5px solid #0b1e2d;
}
.sectionText{
    margin-top:0.75em;
    margin-left: 2em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #0b1e2d;
}

#noteCountry{
    margin-top:0.75em;
    margin-left: 2em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #0b1e2d;
}

#disclaimer{

    margin-left:2%;
    margin-top:0em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 0.85rem;
    color: #04629a;
}
    .hover{
      max-width: 200px;
    }

    text.hover {
      font-size: .7em;
      font-color: #575757;
      font : 14px Caecilia lt bold; fill:#575757;
    }


#vizDesc {
	background: #dce2e7;
	margin-right: 2px;
	margin-left:2px;
}
.domain{
  stroke:none;
}
.tick{
  stroke:#979797;
  stroke-width: 0.25;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: #0b1e2d;
  }

  .lollipopText{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  }






#source{
  margin-left:5%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  text-decoration: underline;
  color: #04629a;

}

#copyright{
  margin-top:7px;
  margin-left:5%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  font-style:normal;
  color: #04629a;
}


#selCountry{
  /*float:left;*/
  max-width:200px;
  margin-bottom:2px;
  border:solid;
  border-width: 0px;
  border-color:  #575757;
  background-color: #04629a;/** CHange background color for dropdowns**/
  border-radius: 10px;
}


#country_dropdown{
  margin: 5px 0px 5px 5px;
  max-width: 180px;
  display:inline;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #0b1e2d;
  text-align:center;
  letter-spacing:normal;
  vertical-align: baseline;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0px 0;
  background-color:#fff;/**#c3d1da;**/
  border:none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.dropdown_text{
  display: inline-block;
  margin-left:5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.33rem;
  color: #ffffff;
  text-align:start;
  padding:5px 25px 3px 0px;
}




#updateTag{
  margin-left:5%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  font-style:normal;
  color: #04629a;
}


#updateTime{
    margin-left: 2.0em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
    line-height: 1;
    color: #04629a;
}
#comp_Country{
 /** max-width:200px;**/
  margin:0.5em 0em 0em 2.0em ;
  border:solid;
  border-width: 0px;
  border-color:  #575757;
  background-color: #04629a;/** CHange background color for dropdowns**/
  border-radius: 10px;
  display: none; /** TO REMOVE TO SHOW COMPARISON FEATURE*/
}


#comp_country_dropdown{
  margin: 5px 5px 5px 0px;
  max-width: 190px;
 /* display:inline-block;*/
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  color: #0b1e2d;
  text-align:center;
  letter-spacing:normal;
  vertical-align: baseline;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0px 0;
  background-color:#fff;/**#c3d1da;**/
  border:none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.comp_dropdown_text{
  display: inline-block;
  margin-left:5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.15rem;
  color: #ffffff;
  text-align:start;
  padding:5px 25px 3px 0px;
}


#countryComparison{
    margin-left: 2em;
    padding: 2rem;
  overflow-x:auto;

      display:none;    
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

  table-layout: fixed;
}

th, td {
  text-align: left;
  padding: 8px;
  vertical-align:top;
}

tr:nth-child(even){background-color: #f2f2f2}

.labelCell{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #0b1e2d;
}

.countryCell{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  color: #0b1e2d;
}


#highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffc20e 65%);

}

@media only screen and (max-width: 600px) {
  table {
  min-width: 500px;  
  overflow-x:auto;
  }
}