body{
  background:#e6ebe9;
}
h1{
      width:100%;
      display:inline-block;
      padding-left: 5%;
      font-family: 'Oswald', sans-serif;
      font-size: 2.25rem;
      font-weight: 700;
      color: #04629a;
      margin-top: 2px;
    margin-bottom: 2px;
}

h2{
  margin-bottom: 2px;
  padding-bottom: 5px;
  font : 16px Caecilia lt; color:#7A7A7A;
  padding: 5px 10px 10px 0px;
  display: inline-block;

}

h3 {
    -webkit-margin-after: 0.2em;
}



.mySlides {
  display:none;
}
#aboutMap{
  display:block;
}

div.tooltip {
    position:absolute;
    width: auto;
    height: auto;
    max-width: 40%;
    margin-top: -1.25em;
    padding: 0.75em 1em;
    font-family: 'Oswald', sans-serif;
    /*white-space: nowrap;*/
    font-size: 20px;
    font-size: 1.33rem;
    font-weight: 300;
    line-height: 1.2;
    color: #04629a;

    background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      pointer-events: none;
    /*transform: translate(-5%,-5%);*/

    z-index:2;
}
/**
div.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;  
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}**/



#world {
  /**stroke: #deeaf1;**/
  stroke-width: 0px;
 fill: #c0c7c9;
 stroke:#c0c7c9;
  opacity: 1;
}



#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.caption{
  font : 12px Arial; color:#575757;
}
.background {
  fill: #deeaf1;
  pointer-events: all;
}


#countryCard{
      position:absolute;
      top:1%;
      left: 0; 
     right: 0; 
      margin-left: auto; 
      margin-right: auto;
      width:95%;
      height:97%;
     /** max-width: 1140px;
      max-height:1000px;**/
      overflow: scroll;
      /*padding:2rem;*/
      background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      /*pointer-events: none;*/
      display:none;    

    z-index:3;
}

#themebar{

    clear: both;
}

#navbar{

    clear: both;
  padding:2rem;
  margin-left: 2em;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #0b1e2d;

}

.couNav{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  color: #04629a;
  text-decoration: underline;
  cursor: pointer;
}

#trackersLink{
  position:absolute;
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 150%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.33); /* Black background with opacity */
  z-index:5; /* Specify a stack order in case you're using a different order for other elements */
  /*cursor: pointer;*/ /* Add a pointer on hover */
  padding:10%;
      display:none;    
}
#shutterholder,#shutterholdertracker{
  padding:2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width:100%;
  border-bottom: 0.5px  solid #04629a;
  z-index:5;

}
#shutter,#shuttertracker{
  float:right;  
  width:20px;
  margin-bottom: 10px;
  cursor: pointer;
}


.flex-container {position: relative;
  
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  align-content: space-between;
  width: 40%;
  margin: 0% 5%;
  text-align: left;
}

#switchtracker{
  background:#006f81;
  margin:10px 0px 10px 0px;
}

#disclaimer{
width:87.5%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 0.85rem;
    color: #04629a;
  margin: 0% 5%;
  text-align: left;
}
.button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
   /* position: relative;*/
    width: 200px;
    height: 40px;
    margin: 5px 5px 15px 5px;
    padding: 10px 10px 10px 10px;
    background: #FFFFFF;
    border:none;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0b1e2d;
}
   
.textbtn{
    font-size: 1.25rem;
    font-family: "Noto Sans Display", sans-serif;
    margin:auto;
}

.green{
    width: 200px;
    height: 60px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background: #548235;
    color:#ffffff;
    font-size: 1.25rem;
    font-family: "Noto Sans Display", sans-serif;
    font-weight: 600;
}
.greenbold{
    font-weight: 900;

}

.menuCard{
    width: 150px;
    /**height: 60px;**/
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background: #04629a;
    color:#ffffff;

    font-size: 1.15rem;
    font-family: "Noto Sans Display", sans-serif;
    
    font-weight: 600;

}

#allData{
    background: #0b1e2d;
}
#launchTracker{
    background: #0b1e2d;

}

#morebtn{
    text-align: right;
    vertical-align: sub;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight:600;
    line-height: 1;
    color: #0b1e2d;
}

.flex-container-legend{
  clear:both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


#navigHeader{
    margin-left:10%;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    font-weight:600;
    line-height: 1;
    color: #0b1e2d;
    width:140px;

}

#legendChoropleth{

      visibility: hidden;   
  
}
#scaleLegend{

     /* visibility: vihiddensible; */  
  
}

#resetButton{
    visibility: hidden;  

    float: right;
    height: 30px;
    margin: 0px 0px 0px 15px;
    padding: 0px 10px 0px 10px;
    background: #ccd2d3;
    border:none;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #0b1e2d;
  font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 1.0rem;
    font-weight:300;
    padding-bottom:5px;
  cursor: pointer;
}
#resetText{
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;  
  cursor: pointer;
}
#resetcross{
  float:right;  
  width:20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.legendtext{
  font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 1.0rem;
    font-weight:600;
}

.toTrackers{
    display: inline-block;
    padding: 18px 25px 15px 25px;
    font-family: "Noto Sans Display",sans-serif;
    font-size: 13px;
    /*font-size: 0.75rem;*/
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: #633582;
    /*border: 1px solid #0b1e2d;*/
    border-radius: 25px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}


.toTrackers:hover{
text-decoration: underline;
    background: #0b1e2d;
}


#trackersText{
    margin-top:0.75em;
    margin-left: 2em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #0b1e2d;
}


#countrySel{
    padding-top: 10px;
    margin-left: 1.2em;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #04629a;
}

#betaTag{

    margin-left: 2.0em;
    margin-bottom:10px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    color: #04629a;
}

#containment_Text,#supportText,#supportViz,#singleCountry {

  padding:2rem;
    margin-top: 10px;
    margin-left: 2em;
}

.SectionChart{
    display: inline-block;
    width:100%;
    padding-left:0.5em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: #04629a;
    background: #DDE9EF;
}

.SectionTitle{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #0b1e2d;
    position: relative;
    bottom: -1rem;
    background: #fff;
    padding-right: 10px;
    z-index:4;

}
.border{

    border-bottom: 0.5px solid #0b1e2d;
}
.sectionText{
    margin-top:0.75em;
    margin-left: 2em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #0b1e2d;
}
.levelValue{
    margin-left: 1em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
    color: #233442;
}
#noteCountry{
    margin-top:0.75em;
    margin-left: 2em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #0b1e2d;
}

    .hover{
      max-width: 200px;
    }

    text.hover {
      font-size: .7em;
      font-color: #575757;
      font : 14px Caecilia lt bold; fill:#575757;
    }


#vizDesc {
	background: #dce2e7;
	margin-right: 2px;
	margin-left:2px;
}
.domain{
  stroke:none;
}
.tick{
  stroke:#979797;
  stroke-width: 0.25;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: #0b1e2d;
  }

  .lollipopText{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  }






#source{
    display: inline-block;
  margin-left:5%;
  margin-right:5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  /*text-decoration: underline;
  
  color: #04629a;*/
  color: #ffffff;

}
.toData{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:2px;
    font-family: "Noto Sans Display",sans-serif;
    font-size: 1rem;
    /*font-size: 0.75rem;*/
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: #633582;
    /*border: 1px solid #0b1e2d;*/
    border-radius: 25px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}


.toData:hover{
text-decoration: underline;
    background: #0b1e2d;
}


#copyright{
  display:block;
  margin-top:7px;
  margin-left:5%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  font-style:normal;
  
  /*color: #04629a;*/
  color: #ffffff;
}


#modedemploi{
      /*position:absolute;
      top:2.5%;
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto;
      max-width:200px;*/
      /*display: inline-block;*/
      margin-left: 1.2em;
      margin-right: 1.2em;
      padding:0.5rem;
      background: #FFFFFF;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      /*pointer-events: none;*/  
      font-family: 'Oswald', sans-serif;
      font-size: 1.75rem;
      font-weight: 700;
      color: #04629a;

display: flex;

     min-width:50%;
     /** height:100px;*/
     
}

#intromodedemploi{
    margin-left: 1.2em;
      font-family: 'Oswald', sans-serif;
      font-size: 1.75rem;
      font-weight: 700;
      color: #04629a;
}

#selCountry{
  margin-bottom:2px;
  margin-left:25px;
  border:solid;
  border-width: 0px;
  border-color:  #575757;
  background-color: #04629a;/** CHange background color for dropdowns**/
  border-radius: 10px;
}


#country_dropdown{
  margin: 5px 5px 5px 5px;
  max-width: 180px;
  display:inline;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #0b1e2d;
  text-align:center;
  letter-spacing:normal;
  vertical-align: baseline;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0px 0;
  background-color:#fff;/**#c3d1da;**/
  border:none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.dropdown_text{
  display: inline-block;
  margin-left:5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.33rem;
  color: #ffffff;
  text-align:start;
  padding:5px 25px 3px 0px;
}




#updateTag{
  margin-left:5%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  font-style:normal;
  /*color: #04629a;*/
  color: #ffffff;
}


#updateTime{
    margin-left: 2.0em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
    line-height: 1;

  color: #04629a;
  /*color: #ffffff;*/}
#comp_Country{
 /** max-width:200px;**/
  margin:0.5em 0em 0em 2.0em ;
  border:solid;
  border-width: 0px;
  border-color:  #575757;
  background-color: #04629a;/** CHange background color for dropdowns**/
  border-radius: 10px;
  /**display: none; /** TO REMOVE TO SHOW COMPARISON FEATURE*/
}


#comp_country_dropdown{
  margin: 5px 5px 5px 0px;
  max-width: 190px;
 /* display:inline-block;*/
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  color: #0b1e2d;
  text-align:center;
  letter-spacing:normal;
  vertical-align: baseline;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0px 0;
  background-color:#fff;/**#c3d1da;**/
  border:none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.comp_dropdown_text{
  display: inline-block;
  margin-left:5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.15rem;
  color: #ffffff;
  text-align:start;
  padding:5px 25px 3px 0px;
}


#countryComparison{
    margin-left: 2em;
    padding: 2rem;
  overflow-x:auto;

      display:none;    
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

  table-layout: fixed;
}

th, td {
  text-align: left;
  padding: 8px;
  vertical-align:top;
}

tr:nth-child(even){background-color: #f2f2f2}

.labelCell{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #0b1e2d;
}

.countryCell{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  color: #0b1e2d;
}


#highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #ffc20e 65%);

}

@media only screen and (max-width: 600px) {
  table {
  min-width: 500px;  
  overflow-x:auto;
  }
}